<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Перенаправление на оплату</title>
    <script th:inline="javascript">
        window.onload = function() {
            document.forms['robokassaForm'].submit();
        };
    </script>
</head>
<body>
<form id="robokassaForm"
        action="https://auth.robokassa.ru/Merchant/Index.aspx"
        method="POST">
    <input type="hidden" name="MerchantLogin" th:value="${payment.merchantLogin}">
    <input type="hidden" name="OutSum" th:value="${payment.outSum}">
    <input type="hidden" name="InvoiceID" th:value="${payment.invId}">
    <input type="hidden" name="Description" th:value="${payment.description}">
    <input type="hidden" name="SignatureValue" th:value="${payment.signatureValue}">
    <input type="hidden" name="IsTest" th:value="${payment.isTest}">

    <noscript>
        <p>JavaScript отключен. Нажмите кнопку для продолжения оплаты.</p>
        <input type="submit" value="Перейти к оплате">
    </noscript>
</form>
</body>
</html>
